<div class="fluid-container" th:fragment="navi(activeTab)" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info nav-menu">
        <a class="navbar-brand" th:href="@{/}" href="/">GeekStudents</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarSupportedContent" id="navbarNav">

            <ul class="navbar-nav mr-auto">


            </ul>
            <div class="prof" sec:authorize="isAuthenticated()">
                <div  class="prof">
                    <a  class="btn btn-success btn-outline-light" href="/user/profile"
                        th:href="@{/user/profile}"> <i class="fas fa-address-book"></i>
                        <i sec:authentication="principal.username"></i> </a>

                </div><div></div>

                <form th:action="@{/logout}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Выйти"/>
                </form>
            </div>


            <form class="form-inline pull-xs-right d-sm-inline-block input-group-sm" method="post"
                  th:action="@{/user/login}"
                  sec:authorize="isAnonymous()">
                <input id="login" type="text" class="form-control" name="username" value="" placeholder="Login">
                <input id="password" type="password" class="form-control" name="password" value=""
                       placeholder="Password">
                <input type="submit" class="btn btn-primary " th:href="@{/user/login}" value="Войти"/>

                <a class="btn btn-success btn-outline-light" th:href="@{/user/loginForm?new_user=true}">Регистрация</a>
            </form>

        </div>
    </nav>
    <div class="visible-md" style="height:80px;"></div>
</div>
