* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.m_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.m_content {
    flex: 1 0 auto;
}
.m_footer {
    flex: 0 0 auto;
    margin: 10px;

}


body {
    padding: 0px 0px;
    alignment: center;
}
.my-tab{
    display:flex; justify-content: space-between;
}

.text20{
    font-size: 20px;
    margin-top: 20px;
}
.nav-menu {
    margin: 20px 20px;
}
.header{
    margin: 20px 0px;
    background-color: darkcyan;
    color: white;
}

.loginform{
    width: 50%;
}
.prof{
    display: contents;
    margin-right: 20px;

}

.m_page{

}