<div xmlns:th="http://www.thymeleaf.org">
На курсе обучаются студенты :
<table class="table table-bordered table-striped" >
    <thead class="thead-dark">
    <tr>
    <th scope="col">Id</th>
    <th scope="col">Имя</th>
    <th scope="col"></th>
    </tr>
    </thead>
        <tr th:each="student : ${course.students}" >
            <td th:text="${student.id}"/>
            <td th:text="${student.name}"/>
            <td><a th:href="${studentDetailPageLink.getURL_ReplaceID(student.id)}" th:text="${studentDetailPageLink.getTITLE()}">Информация о студенте</a></td>
        </tr>

</table>
</div>