<div class="container" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <div sec:authorize="isAuthenticated()">
        Authenticated username:
        <div sec:authentication="principal.username"></div>
        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div>
    </div>
    <div th:if="${!mainMessage.isEmpty()}" class="alert alert-success" role="alert" th:text="${mainMessage}">

    </div>

    <div class="btn-group-vertical">
        <ul>
            <li><a th:href="@{${studentListURL.getURL()}}" href="/studentList" th:text="${studentListURL.getTITLE()}" >Список студентов</a></li>
            <li><a th:href="@{${courseListURL.getURL()}}" href="/course/list"  th:text="${courseListURL.getTITLE()}">Список курсов </a></li>
            <li><a th:href="@{${datagenerateURL.getURL()}}" href="/generate/" th:text="${datagenerateURL.getTITLE()}">Сгенерировать новые данные</a></li>
            <li><a th:href="@{${userListURL.getURL()}}" href="/user/list/" th:text="${userListURL.getTITLE()}">Пользователи</a></li>
        </ul>
    </div>
</div>
