<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
    <!--/*@thymesVar id="course" type="ru.chertenok.spring.hibernate.entity.Course"*/-->
    <title th:text="'Информация о курсе '+${course.description}">Информация о курсе</title>

</head>
<body>
<!--/*@thymesVar id="course" type="ru.chertenok.spring.hibernate.entity.Course"*/-->
<h1 th:text="'Информация о курсе '+${course.description}"/></h1>

На курсе обучаются студенты :
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
    <th scope="col">Id</th>
    <th scope="col">Имя</th>
    <th scope="col">Полная информация</th>
    </tr>
    </thead>
        <tr th:each="student : ${course.students}" >
            <td th:text="${student.id}"/>
            <td th:text="${student.name}"/>
            <td><a th:href="'/student/detail/'+${student.id}">Полная информация</a></td>
        </tr>

</table>
<div th:insert="~{nav-menu :: nav}"></div>
</body>
</html>
