<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div  th:replace="~{header :: head(title= ${student.name})}"/>

<body>

<div th:replace ="~{header :: title(title= ${student.name})}"/>



<div class="row">

    <div class="col-4  my-tab" id="list-tab" role="tablist">
        <div class="list-group">

            <h2 class="badge badge-primary text-light text20"> Записан на курсы </h2>

            <a th:each="course : ${courseList}" class="list-group-item list-group-item-action"
               th:id="'list-'+${course.id}+'-list'" data-toggle="list" th:href="'#list-'+${course.id}" role="tab"
               aria-controls="profile" th:text="${course.description} ">описание</a>


            <h2 class="badge badge-success text-light text20"> Можно записать на курсы </h2>

            <a th:each="course : ${courseListNew}" class="list-group-item list-group-item-action"
               th:id="'list-'+${course.id}+'-list'" data-toggle="list" th:href="'#list-'+${course.id}" role="tab"
               aria-controls="profile" th:text="${course.description} ">описание</a>

        </div>
    </div>


    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">

            <div th:each="course: ${courseList}" class="tab-pane fade" th:id="'list-'+${course.id}" role="tabpanel"
                 aria-labelledby="list-profile-list">
                <p th:utext="'Курс: '+${course.description}+'<br>ID: '+${course.id}+'<br>Занятий: '+${course.courseLength}">
                    Курс: xxxxx <br> ID: xxxxx <br>Занятий: 5</p>
                <a class="btn btn-danger" th:href="${courseRemove.getURL_ReplaceID2(student.id,course.id)}"
                   th:text="${courseRemove.getTITLE()}" role="button">Удалить курс</a>
            </div>
            <div th:each="course: ${courseListNew}" class="tab-pane fade" th:id="'list-'+${course.id}" role="tabpanel"
                 aria-labelledby="list-profile-list">
                <p th:utext="'Курс: '+${course.description}+'<br>ID: '+${course.id}+'<br>Занятий: '+${course.courseLength}">
                    Курс: xxxxx <br> ID: xxxxx <br>Занятий: 5</p>
                <a class="btn btn-primary" th:href="${courseAdd.getURL_ReplaceID2(student.id,course.id)}"
                   th:text="${courseAdd.getTITLE()}" role="button">Добавить курс</a>

            </div>
        </div>
    </div>

</div>

<div th:insert="~{footer :: footer}"></div>

</body>
</html>