<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${!mainMessage.isEmpty()}" class="alert alert-success" role="alert" th:text="${mainMessage}">

    </div>
    <div class="btn-group-vertical">
        <ul>
            <li><a href="/student/list">Список студентов</a></li>
            <li><a href="/student/list?sortCourse=true">Список студентов с сортировкой по числу курсов</a></li>
            <li><a href="/course/list">Список курсов </a></li>
            <li><a href="/generate/">Сгенерировать новые данные</a></li>
            <li><a href="/user/list/">Пользователи</a></li>
        </ul>
    </div>
</div>
