<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div  th:replace="~{header :: head(title= ${student.name})}"/>

<body>

<div th:replace ="~{header :: title(title= ${student.name})}"/>


<a href="#" th:href="''">Редактировать</a>


<p th:text="'Студент обучается на '+${student.courses.size()} +' курсах '">Студент обучается</p>

<a href="/student/" th:href="${studentCourseEditPage.getURL_ReplaceID(student.id)}"
   th:text="${studentCourseEditPage.getTITLE()}">Редактировать список курсов</a>


<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Кол-во занятий</th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="course :${student.courses}">
        <td th:text="${course.id}"/>
        <td th:text="${course.description}"/>
        <td th:text="${course.courseLength}"/>
        <td><a th:href="${coursePage.getURL_ReplaceID(course.id)}" th:text="${coursePage.getTITLE()}">Информация о
            курсе</a></td>
    </tr>

</table>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>
