
<table class="table table-bordered table-striped" xmlns:th="http://www.thymeleaf.org">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Кол-во курсов</th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="student : ${studentList}">
        <td th:text="${student.id}"/>
        <td th:text="${student.name}"/>
        <td th:text="${student.coursesCount}"/>
        <td><a th:href="${studentDetailPageLink.getURL_ReplaceID(student.id)}" th:text="${studentDetailPageLink.getTITLE()}">Информация о
            студенте</a></td>
    </tr>
</table>