<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
    <title th:text="'Информация о студенте - '+${student.name}">информация о студенте - ${student.name}</title>
</head>
<body>

<div th:with="title='Информация о студенте '+${student.name}" th:insert="~{header :: header}"></div>

<a href="/student/detail/" th:href="'/student/detail/'+${student.id}+'/edit'" >Редактировать</a>

<p th:text="'Студент обучается на '+${student.courses.size()} +' курсах '">Студент обучается</p>

    <a href="/student/detail/" th:href="'/student/detail/'+${student.id}+'/edit_course'" >Редактировать список курсов</a>


<table class="table table-bordered table-striped" >
    <thead class="thead-dark">
    <tr>
    <th>Id</th>
    <th>Название</th>
    <th>Кол-во занятий</th>
    <th></th>
    </tr>
    </thead>
    <tr th:each="course :${student.courses}">
        <td th:text="${course.id}"/>
        <td th:text="${course.description}"/>
        <td th:text="${course.courseLength}"/>
        <td><a th:href="'/course/detail/'+${course.id}">Информация о курсе</a></td>
    </tr>

</table>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>
